* {
  margin: 0;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #edf7fc;
  width: 100vw;
  height: 100dvh;
}

.noDecoration {
  text-decoration: none;
}

.notificationContainer {
  display: flex;
  justify-content: center;
  position: fixed; 
  top: 4dvh;
  width: 80dvw;
}
